body{
    font-family: Arial;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: [inicio-col] 1fr [linea2-col] 1fr [linea3-col] 1fr [destacado-end-col] 1fr [linea5-col] 1fr [destacado2-end-col] 1fr [linea7-col] 1fr [final-col];
    grid-template-rows: [inicio-row] 200px [linea2-row] 200px [final-row];
    height: 100vh;
    gap: 3px;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}

.item:nth-of-type(1){
    /* grid-column: 1 / span 3;
    grid-row: 1 / span 2; */

    grid-column: inicio-col / destacado-end-col;
    grid-row: inicio-row / final-row;
}

.item:nth-of-type(2){
    /* grid-column: 4 / span 2;
    grid-row: 1 / span 2; */

    grid-column: destacado-end-col / destacado2-end-col;
    grid-row: inicio-row / final-row;
}

.item:nth-of-type(3){
    /* grid-column: 6 / span 2; */

    grid-column: destacado2-end-col / final-col;
}
